<h1>Restaurants</h1>

<table>

	<% @restaurants.each do |restaurant| %>
    <tr>
  		<td><%= restaurant.name %></td>
  		<td><%= restaurant.address %></td>
      <td><%= link_to "View", restaurant_path(restaurant) %></td>
    </tr> 
	<% end %>

</table>